body{
    font-size: 18px;
}
header{
    position: static;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav{
    margin-left: auto;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li{
    display: inline-block;
    text-align: right;
}

nav ul li a{
    text-decoration: none;
    margin: 20px;
    color: white;
}


.container2{
    column-count: 3;
    column-gap: 20px;
}
.card{
    background-color: aquamarine;
    border: 5px solid black;
    padding: 10px;
    margin: 0 0 1am 0;
    font-size: 15px;
}
.box{
    float: right;
    margin-left: 15px;
    width: 200px;
    height: 407px;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 1em;
}


.container1 .box ul li{
    margin-bottom: 12px;
}

.container1 .box ul li a{
    text-decoration: none;
    color: white;
}

.container3 .box ul li{
    margin-bottom: 12px;
}

.container3 .box ul li a{
    text-decoration: none;
    color: white;
}
.box2{
    float: right;
    margin-left: 15px;
    width: 200px;
    height: 407px;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 1em;
}

