<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="static/contact.css">
</head>
<body>
    <header>
        <h1><strong>RoboNexus</strong></h1>
        <nav>
            <ul>
                <li><a href="/"><strong>Home</strong></a></li>
                <li><a href="/about"><strong>About Us</strong></a></li>
                <li><a href="/blog"><strong>Blog</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <img src="static/Bozidar Bajovic.png" alt="visit_card">
    </main>

    <footer>
        <h4><em>Made by © Bozidar Bajovic</em></h4>
        <a href="mailto:bbajovic7@gmail.com"><strong><em>Posalji mi mail</em></strong></a>
        <p>Phone: 065/094-185</p>
    </footer>
</body>
</html>