<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/index.css"
</head>
<body>
    <header>
        <h1><strong>RoboNexus</strong></h1>
        <nav>
            <ul>
                <li><a href="/"><strong>Home</strong></a></li>
                <li><a href="/about"><strong>About Us</strong></a></li>
                <li><a href="/team"><strong>Team</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container1">
            <div class="box">
                <h2><strong><em>Linkovi</em></strong></h2>
    
                <ul>
                    <li><a href="https://www.roboticstomorrow.com/"><strong><em>Robotics Tomorrow</em></strong></a></li>
                    <li><a href="https://www.robots.ox.ac.uk/"><strong><em>Oxford Robotics Institute</em></strong></a></li>
                    <li><a href="https://www.robogarden.ca/"><strong><em>RoboGarden</em></strong></a></li>
                    <li><a href="https://www.robogames.net/"><strong><em>RoboGames</em></strong></a></li>
                    <li><a href="https://www.ros.org/"><strong><em>Robot Operating System (ROS)</em></strong></a></li>
                    <li><a href="https://www.therobotreport.com/"><strong><em>The Robot Report</em></strong></a></li>
                </ul>
            </div> 
            <h1><strong>Robotika</strong></h1>
                
            <p>
                Robotika je interdisciplinarna grana znanosti koja se bavi dizajniranjem, izradom, primjenom i kontrolom robotskih sustava. Ova disciplina objedinjuje znanja iz područja računalne znanosti, elektrotehnike, mehanike i umjetne inteligencije kako bi stvorila inteligentne strojeve sposobne izvršavati različite zadatke. 
                Robotika ima široku primjenu u različitim područjima kao što su industrija, medicina, istraživanje svemira, vojna tehnologija, domaćinstvo i zabava. U posljednjim desetljećima, napredak u robotici je ubrzan zahvaljujući razvoju senzora, naprednih materijala, algoritama za obradu podataka te povećanoj moći računalne obrade. Očekuje se da će robotika imati sve značajniju ulogu u društvu,
                transformirajući način na koji radimo, živimo i interaktiramo s tehnologijom u budućnosti.
            </p>
            
            <div class="container2">
                <div class="card">
                    <h2><strong>Razvoj Robotike: Od Mehanike do Umjetne Inteligencije</strong></h2>
                    <p>
                        Ova kolona istražuje evoluciju robotike kroz povijest, počevši od prvih mehaničkih uređaja do suvremenih inteligentnih robota koji koriste napredne algoritme i senzore.
                        Sa fokusom na ključne tehnološke inovacije i prekretnice, čitatelji će dobiti uvid u napredak robotike i njezinu sve veću ulogu u suvremenom društvu.
                    </p>
                </div>

                <div class="card">
                    <h2><strong>Primjene Robotike u Svijetu: Od Proizvodnje do Zdravstva</strong></h2>
                    <p>
                        Ova rubrika istražuje raznolike primjene robotike diljem svijeta, uključujući industrijske linije proizvodnje, kirurške zahvate, istraživanje svemira te pomoćne tehnologije za osobe s invaliditetom.
                        Kroz intervjue s stručnjacima iz različitih područja, čitatelji će saznati kako robotika transformira različite industrije i doprinosi unaprjeđenju kvalitete života.
                    </p>
                </div>

                <div class="card">
                    <h2><strong>Budućnost Robotike: Prema Inteligentnim Autonomnim Sustavima</strong></h2>
                    <p>
                        Ova sekcija istražuje perspektive budućnosti robotike, s fokusom na razvoj autonomnih sustava sposobnih za učenje, prilagodbu i suradnju s ljudima.
                        Kroz analizu trendova i predviđanja stručnjaka, čitatelji će dobiti uvid u potencijalne scenarije i izazove koji će oblikovati budućnost robotike i njezinu ulogu u društvu.        
                    </p>
                </div>

            </div>
        </div>

        <div class="container3">
            <div class="box">
                <h2><strong><em>Video</em></strong></h2>
    
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=cqGfXIq40mQ"><strong><em>Robotika</em></strong></a></li>
                    <li><a href="https://www.youtube.com/watch?v=jGVR-c4Z21M"><strong><em>Robotika Pojam, vrste i namena robota</em></strong></a></li>
                    <li><a href="https://www.youtube.com/watch?v=ePCkP1BYobc"><strong><em>Sophia robot</em></strong></a></li>
                    <li><a href="https://www.youtube.com/watch?v=pd6HNSh0TJw"><strong><em>RoboAnimals</em></strong></a></li>
                    <li><a href="https://www.youtube.com/watch?v=Heb-HPWgmq0"><strong><em>Robot for Children</em></strong></a></li>
                    <li><a href="https://www.youtube.com/watch?v=P2r9U4wkjcc"><strong><em>Hydraulic Powered Robotic Arm</em></strong></a></li>
                </ul>
            </div>
            <h1><strong>Novosti</strong></h1>
            <p>
                Najnovije vijesti iz svijeta robotike pružaju uvid u dinamičan i inspirativan svijet inovacija koje definiraju našu budućnost. 
                Istraživanja naprednih robotskih sustava koja se trenutno provode obećavaju revolucionarne promjene u načinu na koji obavljamo poslove, živimo svakodnevni život i interaktiramo s tehnologijom. 
                Od autonomnih vozila koja će promijeniti način putovanja i transporta do robotskih kirurga koji mogu precizno izvoditi kirurške zahvate s manje invazivnosti i humanoidnih asistenata koji mogu obavljati raznolike zadatke, svijet robotike evoluira brže nego ikad prije.

                Ovi napredni sustavi ne samo da nude nevjerojatne mogućnosti, već također donose izazove s kojima se moramo nositi kao društvo. 
            </p>
                <div class="container2">
                    <div class="card">
                        <h2><strong>Razvoj Robotike: Od Mehanike do Umjetne Inteligencije</strong></h2>
                        <p>
                            Ova kolona istražuje evoluciju robotike kroz povijest, počevši od prvih mehaničkih uređaja do suvremenih inteligentnih robota koji koriste napredne algoritme i senzore.
                            Sa fokusom na ključne tehnološke inovacije i prekretnice, čitatelji će dobiti uvid u napredak robotike i njezinu sve veću ulogu u suvremenom društvu.
                        </p>
                    </div>

                    <div class="card">
                        <h2><strong>Razvoj Robotike: Od Mehanike do Umjetne Inteligencije</strong></h2>
                        <p>
                            Ova kolona istražuje evoluciju robotike kroz povijest, počevši od prvih mehaničkih uređaja do suvremenih inteligentnih robota koji koriste napredne algoritme i senzore.
                            Sa fokusom na ključne tehnološke inovacije i prekretnice, čitatelji će dobiti uvid u napredak robotike i njezinu sve veću ulogu u suvremenom društvu.
                        </p>
                    </div>

                    <div class="card">
                        <h2><strong>Razvoj Robotike: Od Mehanike do Umjetne Inteligencije</strong></h2>
                        <p>
                            Ova kolona istražuje evoluciju robotike kroz povijest, počevši od prvih mehaničkih uređaja do suvremenih inteligentnih robota koji koriste napredne algoritme i senzore.
                            Sa fokusom na ključne tehnološke inovacije i prekretnice, čitatelji će dobiti uvid u napredak robotike i njezinu sve veću ulogu u suvremenom društvu.
                        </p>
                    </div>
        </div>

        <div class="photos">
            <h1><strong>Galerija</strong></h1>
            <img src="static/1.png" alt="Pic1" />
            <img src="static/2.png" alt="Pic2" />
            <img src="static/3.png" alt="Pic3" />
            <img src="static/4.png" alt="Pic4" />
            <img src="static/5.png" alt="Pic5" />
        </div>

          
    </main>
</body>
</html>